{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <main>
        <div class="bgcontainerdefault">
            <div class="wrapper">
                <form action="{{ path("app_register") }}" name="{{ form.vars.full_name }}" class="blocform" method="post">
                    <h1>Inscription</h1>
                     {% if form_errors(form._token) %}
                        <span class="champ-erreur">{{ form_errors(form._token) }}</span>
                     {% endif %}
                    <div class="grid-50">
                        <div class="formgroup">
                            <label for="">Nom</label>
                            {{ form_widget(form.nom) }}
                            {% if form_errors(form.nom) %}
							    <span class="champ-erreur">Ce champ est obligatoire</span>
                            {% endif %}
                        </div>
                        <div class="formgroup">
                            <label for="">Prénom</label>
                            {{ form_widget(form.prenom) }}
                            {% if form_errors(form.prenom) %}
							    <span class="champ-erreur">Ce champ est obligatoire</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formgroup">
                        <label for="">E-mail</label>
                        {{ form_widget(form.email) }}
                        {% if form_errors(form.email) %}
						    <span class="champ-erreur">Cet e-mail est déjà utilisé</span>
                        {% endif %}
                    </div>
                    <div class="formgroup">
                        <label for="">Mot de passe</label>
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="formgroup">
                        <label for="">Confirmer mot de passe</label>
                        {{ form_widget(form.password.second) }}
                        {% if form_errors(form.password.first) %}
						    <span class="champ-erreur">Les deux mot de passe ne correspond pas</span>
                        {% endif %}
                    </div>
                    {{ form_widget(form._token) }}
                    <button type="submit" class="btn btn-secondary" ><span>S'inscrire</span></button>
                    <div class="blocbottom">
                        <p>Vous avez déjà un compte ?<a href="{{ path('app_login')}}" title="Connectez-vous" ><strong> Connectez-vous</strong></a></p>
                    </div>
                </form>
            </div>
        </div>
        
    </main>
{% endblock %}
