{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
    <main id="content" class="flex">
        <section id="contenu">
            {% include "admin/block/logout.html.twig" %}
            <div class="title bb">{{ titre }} établissement</div>
			<ul class="champ-erreur">
				{% for error in errors %}
					{% if error is iterable %}
						{% for msg in error %}
							<li>{{ msg }}</li>
						{% endfor %}
					{% else %}
						<li>{{ error }}</li>
					{% endif %}
				{% endfor %}
			</ul>
			<form id="frm-etablissement" name="{{ form.vars.full_name }}" method="post" enctype="multipart/form-data">
				<div class="categories">
					<div class="card-wrap">
						<label>Catégorie</label>
						{{ form_widget(form.category) }}
					</div>
				</div>
				<div id="voyage" class="cat-options">
					<div id="wrapper-field">
						<div class="bloc_editense form-wrap">
							<div class="card-wrap form-in-head">
								<div class="sub-title"><span>Coordonnées</span></div>
								<div class="head">
									{% if form.avatarFile is defined %}
										<div id="wrapper-avatar" class="logo-entreprise">
											<input type="file" name="{{ form.avatarFile.vars.full_name }}" id="avatar" class="form-control-file" style="display: none;"/>
											{% if etablissement is defined and etablissement.avatar is not null %}
												<img id="avatar-img" src="{{ asset('uploads/etablissements/' ~ etablissement.getAvatar()) }}">
											{% else %}
												<img id="avatar-img" src="{{ asset('front/images/default-etablissement.svg') }}">
											{% endif %}
											<label for="pdp">
												<span class="replace-img"></span>
											</label>
										</div>
									{% else %}
										<div id="wrapper-avatar" class="logo-entreprise">
											<img src="{{ asset('front/images/profil-guide.svg') }}">
										</div>
									{% endif %}
									<div>
										<div class="form-wrap">
											{% if form.nom is defined %}
												<div id="wrapper-nom" class="form-control">
													<label>{{ form.nom.vars.label }}</label>
													{{ form_widget(form.nom) }}
												</div>
											{% endif %}
											<div class="form-control">
												<label for="">Adresse</label>
												{{ form_widget(form.adresse) }}
											</div>
										</div>
									</div>
								</div>
								<div class="card-wrap content-ense">
									<div class="form-wrap">
										<label>Auteur</label>
										{{ form_widget(form.createdBy) }}
									</div>
								</div>
							</div>
							<div class="card-wrap content-ense">
								<div id="wrapper-not-guide" class="half">
									<div class="form-control">
										<label for="">Ville</label>
										{{ form_widget(form.ville) }}
									</div>
									<div class="form-control">
										<label for="">Code Postal</label>
										{{ form_widget(form.codePostal) }}
									</div>
									{% if form.region is defined and form.categorieGuide is not defined %}
										<div id="wrapper-region" class="form-control">
											<label for="">Region</label>
											{{ form_widget(form.region) }}
										</div>
									{% endif %}
									{% if form.district is defined %}
										<div id="wrapper-district" class="form-control">
											<label for="">District</label>
											{{ form_widget(form.district) }}
										</div>
									{% endif %}
									<div class="form-control">
										<label for="">Téléphone</label>
										{{ form_widget(form.telephone) }}
									</div>
									<div class="form-control">
										<label for="">E-mail</label>
										{{ form_widget(form.email) }}
									</div>
									{% if form.siteWeb is defined %}
										<div id="wrapper-web" class="form-control">
											<label for="">Site web <span class="facultatif">(facultatif)</span></label>
											{{ form_widget(form.siteWeb) }}
										</div>
									{% endif %}
									{% if form.facebook is defined %}
										<div class="form-control">
											<label for="">Facebook <span class="facultatif">(facultatif)</span></label>
											{{ form_widget(form.facebook) }}
										</div>
									{% endif %}
									{% if form.linkedin is defined %}
										<div class="form-control">
											<label for="">Linkedin <span class="facultatif">(facultatif)</span></label>
											{{ form_widget(form.linkedin) }}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						
						{% if form.licenceA is defined %}
							<div id="wrapper-coordonnees" class="bloc_editense form-wrap">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation d'ouverture</span></div>
									</div>
									<label>Licence <span class="facultatif">(facultatif)</span></label>
									<div class="custom_checkbox licence">
										<div class="half tri">
											<label>A <span style="color: #a2a2a2">(Agence de voyage)</span>
												{{ form_widget(form.licenceA) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceA) }}
											</div>
											<div class="form-control notselected reference">
												{{ form_widget(form.referenceA) }}
											</div>
										</div>
										<div class="half tri">
											<label>B <span style="color: #a2a2a2">(Tour-opérateur)</span>
												{{ form_widget(form.licenceB) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected ">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceB) }}
											</div>
											<div class="form-control notselected reference">
												{{ form_widget(form.referenceB) }}
											</div>
										</div>
										<div class="half tri">
											<label>C <span style="color: #a2a2a2">(Prestation touristiques spécialisées)</span>
												{{ form_widget(form.licenceC) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceC) }}
											</div>
											<div class="form-control notselected reference">
												{{ form_widget(form.referenceC) }}
											</div>
										</div>
									</div>
									<div class="half">
										{% if form.dateOuverture is defined %}
										<div class="form-control">
											<label for="">Date d’ouverture</label>
											{{ form_widget(form.dateOuverture) }}
										</div>
										{% endif %}
										{% if form.reference is defined %}
										<div class="form-control">
											<label for="">Référence</label>
											{{ form_widget(form.reference) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF</label>
											{{ form_widget(form.nif) }}
										</div>
										<div class="form-control">
											<label for="">Stat</label>
											{{ form_widget(form.stat) }}
										</div>
									</div>
								</div>
							</div>
						{% endif %}
		
						
						{% if form.activites is defined %}
							<div class="bloc_editense form-wrap">
								<div id="wrapper-activites" class="card-wrap form-control">
									<label>Activités <span class="facultatif">(facultatif)</span></label>
									<div class="custom_checkbox half">
										{% for child in form.activites|filter(child => not child.rendered) %}
											<label>
												{{ child.vars.label }}
												{{ form_widget(child) }}
												<span class="checkmark"></span>
											</label>
										{% endfor %}
										{% if form.activiteAutre is defined %}
											<label>
												Autre
												{{ form_widget(form.activiteAutre) }}
												<span class="checkmark"></span>
											</label>
										{% endif %}
									</div>
									{% if form.autreActivite is defined %}
										<div id="wrapper-autreActivite" class="form-control">
											{{ form_widget(form.autreActivite) }}
										</div>
									{% endif %}
								</div>
							</div>
						{% endif %}
						
						{% if form.classement is defined %}
							<div class="bloc_editense form-wrap">
								<div id="wrapper-classements" class="form-control">
									<div class="card-wrap">
										<label>Classement</label>
										<div class="custom-radio half">
											{% for child in form.classement|filter(child => not child.rendered) %}
											<label>
												{{ child.vars.label }}
												{{ form_widget(child) }}
												<span class="checkmark"></span>
											</label>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					
						
						<div class="bloc_editense form-wrap">
							<div class="card-wrap">
								<div class="form-control inputright">
									<label>Etes-vous membre d'un groupement ?</label>
									<div id="wrapper-member" class="custom-radio">
										{% for child in form.membre|filter(child => not child.rendered) %}
										<label>
											{{ child.vars.label }}
											{{ form_widget(child) }}
											<span class="checkmark"></span>
										</label>
									{% endfor %}
									</div>
								</div>
								{% if form.groupements is defined %}
									<div id="wrapper-groupements" class="custom_checkbox slidergrpm">
										{% for child in form.groupements|filter(child => not child.rendered) %}
											<label>
												{{ child.vars.label }}
												{{ form_widget(child) }}
												<span class="checkmark"></span>
											</label>
										{% endfor %}
									</div>
								{% endif %}
								{% if form.autreGroupement is defined %}
									<div id="wrapper-autregroupement" class="form-control slidergrpm">
										<label>Groupe</label>
										{{ form_widget(form.autreGroupement) }}
									</div>
								{% endif %}
							</div>
						</div>
						
						{% if form.classement is defined %}
							<div id="wrapper-autorisation" class="bloc_editense form-wrap">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation d'ouverture</span></div>
									</div>
									<div class="half">
										{% if form.dateOuverture is defined %}
										<div class="form-control">
											<label for="">Date d’ouverture</label>
											{{ form_widget(form.dateOuverture) }}
										</div>
										{% endif %}
										{% if form.reference is defined %}
										<div class="form-control">
											<label for="">Référence</label>
											{{ form_widget(form.reference) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF</label>
											{{ form_widget(form.nif) }}
											{% if form_errors(form.nif) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
										<div class="form-control">
											<label for="">Stat</label>
											{{ form_widget(form.stat) }}
											{% if form_errors(form.stat) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							
							<div id="wrapper-infos_supplementaire" class="bloc_editense form-wrap">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Informations supplémentaires</span></div>
									</div>
									<div class="half">
										{% if form.nombreChambres is defined %}
										<div class="form-control">
											<label for="">Nombre de chambres</label>
											{{ form_widget(form.nombreChambres) }}
										</div>
										<div class="form-control">
											<label for="">Capacité d'accueil</label>
											{{ form_widget(form.capaciteAccueil) }}
										</div>
										{% endif %}
										{% if form.nombreCouverts is defined %}
											<div class="form-control">
												<label for="">Nombre de couverts</label>
												{{ form_widget(form.nombreCouverts) }}
											</div>
										{% endif %}
			
										{% if form.salleConference is defined %}
											<div class="form-control">
												<label for="">Salle de conférence</label>
												{{ form_widget(form.salleConference) }}
											</div>
										{% endif %}
										<div class="form-control">
											<label for="">Nombre de Salariés Homme</label>
											{{ form_widget(form.nombreSalaries) }}
										</div>
										<div class="form-control">
											<label for="">Nombre de Salariés Femme</label>
											{{ form_widget(form.nombreSalaireFemme) }}
										</div>
										{% if form.nombreLit is defined %}
											<div class="form-control">
												<label for="">Nombre de lit</label>
												{{ form_widget(form.nombreLit) }}
											</div>
										{% endif %}
										{% if form.nombreResto is defined %}
											<div class="form-control">
												<label for="">Nombre de restaurant</label>
												{{ form_widget(form.nombreResto) }}
											</div>
										{% endif %}
										{% if form.superficieSalle is defined %}
											<div class="form-control">
												<label for="">Superficie Salle de conférencee</label>
												{{ form_widget(form.superficieSalle) }}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
						
						{% if form.categorieGuide is defined %}
							<div id="wrapper-autorisation2" class="bloc_editense form-wrap">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation</span></div>
									</div>
									<label class="sub-stitle">Catégorie</label>
									<div class="cat-check grid-25 custom_checkbox">
										{% for child in form.categorieGuide|filter(child => not child.rendered) %}
											<div class="item">
												<label>
													{{ child.vars.label }}
													{{ form_widget(child) }}
													<span class="checkmark"></span>
												</label>
												{% if child.vars.value == 'GUIDE_REGIONAL' %}
													{% if form.region is defined %}
														<div id="wrapper-region"  class="sub-check" id="wrapper-preciser" style="display:none">
															<div class="form-control">
																{{ form_widget(form.region) }}
																{% if form_errors(form.region) %}
																	<span class="champ-erreur">Ce champ est obligatoire</span>
																{% endif %}
															</div>
														</div>
													{% endif %}
												{% endif %}
												{% if child.vars.value == 'GUIDE_LOCAL' %}
													{% if form.zoneIntervention is defined %}
														<div class="sub-check" id="wrapper-zone" class="form-control" style="display: none;">
															{{ form_widget(form.zoneIntervention) }}
														</div>
													{% endif %}
												{% endif %}
												{% if child.vars.value == 'GUIDE_SPECIALISE' %}
													<div class="sub-check" id="wrapper-preciser" style="display:none">
														<div class="form-control">
															{{ form_widget(form.categorieAutorisation) }}
															{% if form_errors(form.categorieAutorisation) %}
																<span class="champ-erreur">Valeur est invalide</span>
															{% endif %}
														</div>
													</div>
												{% endif %}
											</div>
										{% endfor %}
									</div>

									<div class="half">
										{% if form.carteProfessionnelle is defined %}
										<div class="form-control">
											<label for="">N° carte et badge professionnel</label>
											{{ form_widget(form.carteProfessionnelle) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF</label>
											{{ form_widget(form.nif) }}
										</div>
										<div class="form-control">
											<label for="">Stat</label>
											{{ form_widget(form.stat) }}
										</div>
										<div class="form-control">
											<label for="">Agrément</label>
											{{ form_widget(form.agrement) }}
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>

					<div class="t-right mt-50">
						{{ form_widget(form._token) }}
						<input type="hidden" id="etablissement-id" value="{{ etablissement.id }}">
						<button type="submit" class="btn">{{ label_btn }}</button>
						{% if is_edit == 1 and etablissement.statut != 'valide' %}
						<!-- Modifier en attente -->
						<a href="{{ path('app_admin_etablissement_valide', {id:etablissement.id}) }}"class="btn green">Valider</a>
						<button data-fancybox="" data-src="#refuser" class="btn red">Refuser</button>
						{% endif %}
					</div>
				</div>
			</form>
           {% include "admin/block/copyright.html.twig" %}
        </section>
    </main>
	{% if is_edit == 1 and etablissement.statut != 'valide' %}
	<div style="display: none; min-width: 400px; max-width: 500px;" id="refuser" class="popup-style">
        <form class="form-wrap" method="post" action="{{ path('app_admin_etablissement_refuse', {id:etablissement.id}) }}">
             <ul class="form-error"></ul>
            <div class="form-control">
                <label for="nom">Nom</label>
                <input type="text" value="{{ etablissement.nom}}">
            </div>
            <div class="form-control">
                <label for="nom">Raison</label>
                <textarea name="raison" id=""></textarea>
            </div>
            <div class="pbtn full"><button type="submit" class="btn">Envoyer</button></div>
        </form>
    </div>
	{% endif %}
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('admin/js/selectize.min.js') }}"></script>
	<script src="{{ asset('admin/js/dist/bootstrap-modal.dev.js') }}"></script>
	<script src="{{ asset('admin/js/jquery.fancybox.min.js') }}"></script>
	<script src="{{ asset('admin/js/dist/customize.dev.js') }}"></script>
	<script src="{{ asset('admin/js/dist/modal.min.dev.js') }}"></script>
	<script src="{{ asset('admin/js/customize.js') }}"></script>
	<script src="{{ asset('admin/js/tinymce.min.js') }}"></script>
	<script src="{{ asset('admin/js/tinymce-webcomponent.js') }}"></script>
	<script src="{{ asset('admin/js/nstslider.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('admin/js/datatable.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('admin/js/datatable-reponsive.min.js') }}"></script>
	<script>
		var numberOnly =(e) => {
			var ASCIICode = (e.which) ? e.which : e.keyCode
			if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
				return false;
			return true;
		}

		var characterOnly =(e) => {
			var ASCIICode = (e.which) ? e.which : e.keyCode
			if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
				return true;
			return false;
		}

		var keypressNumberOnly =() => {
			$('#etablissement_nif').on('keypress', function(e){
				return numberOnly(e)
			})

			$('#etablissement_stat').on('keypress', function(e){
				return numberOnly(e)
			})

			$('#etablissement_codePostal').on('keypress', function(e){
				return numberOnly(e)
			})

			$('#etablissement_proprietaire').on('keypress', function(e){
				return characterOnly(e)
			})

			$('#etablissement_gerant').on('keypress', function(e){
				return characterOnly(e)
			})
		}

		var changeLicences = () => {
			$('.licence .half').each(function(){
				let $inp = $(this).find("input[type=checkbox]");
				let self = $(this);
				if($inp.is(':checked')) {
					$(this).find('.obtention').removeClass('notselected'),
					$(this).find('.reference').removeClass('notselected'),
					$(this).find('.reference input').prop('disabled', false)
				}
				$inp.change(function() {
					if(this.checked) {
						self.find('.obtention').removeClass('notselected'),
						self.find('.reference').removeClass('notselected'),
						self.find('.reference input').prop('disabled', false)
						
					} else {
						self.find('.obtention').addClass('notselected'),
						self.find('.reference').addClass('notselected'),
						self.find('.reference input').prop('disabled', true)
					}
				});
			});
		}

		var changeRegion = () => {
			if($('#etablissement_region').length > 0) {
				$('#etablissement_region').on('change', function() {
					$.ajax({
						type: 'get',
						url: '{{ path('app_region_district') }}',
						data: {
							region_id :  $(this).val()
						},
						dataType: 'json',
						success: function (response) {
							$('#etablissement_district').html(response.html);
						}
					})
				})
			}
		}

		var changeActivite = () => {
			if($("[id^='etablissement_activites_']").length > 0) {
				$("[id^='etablissement_activites_']").on('change', function() {
					var that = $(this);
					if(that.is(':checked')){
						$.ajax({
							type: 'get',
							url: '{{ path('app_sous_activites') }}',
							data: {
								activite_id :  that.val(),
								etablissement_id : $('#etablissement-id').val()
							},
							dataType: 'json',
							success: function (response) {
								that.next().after(response.html);
							}
						})
					} else {
						$('#wrapper-sous-activites').remove();
					}
				})
				$("[id^='etablissement_activites_']").trigger('change')
			}
		}

		var changeAutreActivite = () => {
			$('#wrapper-autreActivite').hide();
			$('#etablissement_activiteAutre').on('change', function(){
				if($(this).is(":checked")){
					$('#wrapper-autreActivite').show();
				} else {
					$('#wrapper-autreActivite').hide();
				}
			})
			$('#etablissement_activiteAutre:checked').trigger('change')
		}

		var changeCategory = () => {
			if($('.select-category').length > 0) {
				$('.select-category').on('change', function() {
					value = $(this).val();
					isActive = $(this).is(':checked');
					if(value == 'GUIDE_REGIONAL' && isActive) {
						$('#wrapper-region').show();
						$('#etablissement_region').attr('required', 'required')
					} 
					if(value == 'GUIDE_REGIONAL' && !isActive){
						$('#wrapper-region').hide();
						$('#etablissement_region').removeAttr('required')
					}

					if(value == 'GUIDE_LOCAL' && isActive) {
						$('#wrapper-zone').show();
						$('#etablissement_zoneIntervention').attr('required', 'required')
					} 
					if(value == 'GUIDE_LOCAL' && !isActive){
						$('#wrapper-zone').hide();
						$('#etablissement_zoneIntervention').removeAttr('required')
					}

					if(value == 'GUIDE_SPECIALISE' && isActive) {
						$('#wrapper-preciser').show();
						$('#etablissement_categorieAutorisation').attr('required', 'required')
					} 
					if(value == 'GUIDE_SPECIALISE' && !isActive){
						$('#wrapper-preciser').hide();
						$('#etablissement_categorieAutorisation').removeAttr('required')
					}
				})

				$('.select-category:checked').trigger('change')
			}
		}

		var changeMember = () => {
			$('#wrapper-member input').change(function() {
				if (this.value == 1) {
					$('.slidergrpm').slideDown();
				} else {
					$('.slidergrpm').slideUp();
				}
			});
			setTimeout(() => $('#wrapper-member input:checked').trigger('change'), 500);
		}

		var changeLicenceB = () => {
			if($('#etablissement_licenceB').length > 0) {
				$("[id^='etablissement_activites_']").parent('label').hide();
				$('#etablissement_licenceB').change(function() {
					if(!$(this).is(':checked')){
						$.ajax({
							type: 'get',
							url: '{{ path('app_category_licence_b') }}',
							data: {
								category_id :  $('#etablissement_category').val()
							},
							dataType: 'json',
							success: function (response) {
								$.each(response.data, function(index, value) {
									$('#etablissement_activites_' + value).parent('label').hide();
								});
							}
						})
					} else {
						$.ajax({
							type: 'get',
							url: '{{ path('app_category_licence_b') }}',
							data: {
								category_id :  $('#etablissement_category').val()
							},
							dataType: 'json',
							success: function (response) {
								$.each(response.data, function(index, value) {
									$('#etablissement_activites_' + value).parent('label').show();
								});
							}
						})
					}
					
				});
				$('#etablissement_licenceB:checked').trigger('change')
			}
		}

		var changeLicenceC = () => {
			if($('#etablissement_licenceC').length > 0) {
				$("[id^='etablissement_activites_']").parent('label').hide();
				$('#etablissement_licenceC').change(function() {
					if(!$(this).is(':checked')){
						$.ajax({
							type: 'get',
							url: '{{ path('app_category_licence_c') }}',
							data: {
								category_id :  $('#etablissement_category').val()
							},
							dataType: 'json',
							success: function (response) {
								$.each(response.data, function(index, value) {
									$('#etablissement_activites_' + value).parent('label').hide();
								});
							}
						})
					} else {
						$.ajax({
							type: 'get',
							url: '{{ path('app_category_licence_c') }}',
							data: {
								category_id :  $('#etablissement_category').val()
							},
							dataType: 'json',
							success: function (response) {
								$.each(response.data, function(index, value) {
									$('#etablissement_activites_' + value).parent('label').show();
								});
							}
						})
					}
					
				});
				$('#etablissement_licenceC:checked').trigger('change')
			}
		}

		jQuery(document).ready(function($) {

			changeRegion();
			changeCategory();
			changeMember();
			changeLicenceB();
			changeLicenceC();
			changeActivite();

			$("#etablissement_createdBy").selectize();
			
			$('.replace-img').click(function(){
				$('#avatar').trigger('click')
			})
			$('.nstSlider').nstSlider({
				"rounding": {
					"100": "100"
				},
				"left_grip_selector": ".leftGrip",
				"right_grip_selector": ".rightGrip",
				"value_bar_selector": ".bar",
				"value_changed_callback": function(cause, leftValue, rightValue) {
					$(this).parent().find('.leftLabel').text(leftValue);
					$(this).parent().find('.rightLabel').text(rightValue);
				}
			});

			$('.categories select').on('change', function() {
				data = {};
				data[$(this).attr('name')] = $(this).val();
				$.ajax({
					type: 'POST',
					url: '{{ path('app_admin_etablissement_add') }}',
					data: data,
					dataType: 'html',
					success: function (response) {
						 $('#wrapper-field').replaceWith(
							$(response).find('#wrapper-field')
						);

						$('#avatar').change(function () {
							fileSize = this.files[0].size;
							var MAX_FILE_SIZE = 2 * 1024 * 1024;
							if (fileSize > MAX_FILE_SIZE) {
								alert('Photo de profil trop large, taille max 2M')
							} else {
								var image = document.getElementById('avatar-img');
								image.src = URL.createObjectURL(event.target.files[0]);
							}
						})

						$('.replace-img').click(function(){
							$('#avatar').trigger('click')
						});

						changeLicences();
						changeRegion();
						changeAutreActivite();
						changeCategory();
						changeMember();
						changeLicenceB();
						changeLicenceC();
						changeActivite();
					}
				})
			});
			$(".close").click(function () {
				$.fancybox.close();
			});
		});
	</script>
{% endblock %}
