{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
    <main>
        <div class="bgcontainerdefault">
            <div class="wrapper">
                {{ form_start(form) }}
                    <h1>Register</h1>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable-reponsive.min.js') }}"></script>
    <script src="{{ asset('admin/js/customize.js') }}"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.Responsive.breakpoints = [
                { name: 'desktop', width: Infinity },
                { name: 'tablet', width: 1024 },
                { name: 'fablet', width: 768 },
                { name: 'phone', width: 480 }
            ];
            $('#table-list').DataTable({
                paging: true,
                "searching": true,
                "info": false,
                "bLengthChange": false,
                "bInfo": false,
                responsive: true,
                "ordering": false,
                "language": {
                    "lengthMenu": "Afficher _MENU_",
                    "zeroRecords": "Rien n'a été trouvé, désolé",
                    "info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
                    "infoEmpty": "Non disponible",
                    "infoFiltered": "(filtré sur _MAX_ enregistrements)",
                    "search": "",
                    "searchPlaceholder": "Recherche",
                    "sPaginationType": "3",
                    "paginate": {
                        "previous": "<",
                        "next": ">"
                    }
                }
            });
            $(".close").click(function () {
                $(this).parent().parent().remove();
            });
        });
    </script>
{% endblock %}
