{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
    <main id="content" class="flex custom-table-mobile">
        <section id="contenu" class="candidat">
            {% include "admin/block/logout.html.twig" %}
            <div class="d-flex sb header">
                <div class="title">Catégories</div>
                <a href="{{ path('app_admin_category_add') }}" class="btn">Nouvelle catégorie</a>
            </div>
            <table id="table-list" class="custom-table-ville">
                <thead>
                    <tr>
                        <th></th>
                        <th><span>Nom</span></th>
                        <th><span>Date d'ajout</span></th>
                        <th><span>Action</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td></td>
                            <td>{{ category.nom }}</td>
                            <td>{{ category.getCreatedAt()|date('d-m-Y') }}</td>
                            <td>
                                <div class="action">
                                    <a href="{{ path('app_admin_category_edit', {id: category.id}) }}" class="edit"></a>
                                    <a data-fancybox data-src="#supprimer_{{ category.id }}" class="delete"></a>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "admin/block/copyright.html.twig" %}
        </section>
    </main>
    {% for category in categories %}
        {% set activite_ids = [] %}
        {% for activite in category.activites %}
            {% set activite_ids = activite_ids|merge([activite.id]) %}
        {% endfor %}
        
        <div id="supprimer_{{ category.id }}" class="pop_suppr" style="display:none; max-width:500px;">
            <div class="innerpad">
                <div class="sub-title">Vouler vraiment supprimer ?</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis tempora repellat soluta perferendis earum animi porro</p>
            </div>
            <div class="pop_btns">
                <a href="{{ path('app_admin_category_delete',{id:category.id}) }}" class="btn-pop confirm">Supprimer</a>
                <span data-fancybox-close class="btn-pop">Annuler</span>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable-reponsive.min.js') }}"></script>
    <script src="{{ asset('admin/js/customize.js') }}"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.Responsive.breakpoints = [
                { name: 'desktop', width: Infinity },
                { name: 'tablet', width: 1024 },
                { name: 'fablet', width: 768 },
                { name: 'phone', width: 480 }
            ];
            $('#table-list').DataTable({
                paging: true,
                "searching": true,
                "info": false,
                "bLengthChange": false,
                "bInfo": false,
                responsive: true,
                "ordering": false,
                "language": {
                    "lengthMenu": "Afficher _MENU_",
                    "zeroRecords": "Rien n'a été trouvé, désolé",
                    "info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
                    "infoEmpty": "Non disponible",
                    "infoFiltered": "(filtré sur _MAX_ enregistrements)",
                    "search": "",
                    "searchPlaceholder": "Recherche",
                    "sPaginationType": "3",
                    "paginate": {
                        "previous": "<",
                        "next": ">"
                    }
                }
            });

            $(".close").click(function () {
                $(this).parent().parent().remove();
            });

            $("#btn-add").click(function(e){
                e.preventDefault();
                $.ajax({
                    url: $('#form-category').attr('action'),
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: new FormData(document.getElementById('form-category')),
                    success: function(resp){
                        if(resp.code_status == 503){
                            error = resp.msg_error;
                            html = "";
                           for (let i = 0; i < error.length; i++){
                                html += "<li>" + error[i] + "</li>";
                            }
                            $(".form-error").html(html);
                        } else {
                            document.getElementById("form-category").reset();
                            $('.carousel__button').trigger('click');
                            $( "#dialog-message" ).dialog({
                                modal: true,
                                width: 500,
                                close: function(){
                                    window.location = '{{ path("app_admin_category") }}';
                                }
                            });
                        }
                    },
                    error: function(e){
                        console.log(e);
                    }
                });
            })
        });
    </script>
{% endblock %}
