{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
    <main id="content" class="flex custom-table-mobile">
        <section id="contenu" class="candidat">
            {% include "admin/block/logout.html.twig" %}
            <div class="d-flex sb header">
                <div class="title">Région</div>
                <a data-fancybox data-src="#newregion" href="javascript:;" class="btn">Nouvelle région</a>
            </div>
            <table id="table-list" class="custom-table-ville">
                <thead>
                    <tr>
                        <th></th>
                        <th><span>Nom</span></th>
                        <th><span>Date d’ajout</span></th>
                        <th><span>Action</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Analamanga</td>
                        <td>09-05-2022</td>
                        <td>
                            <div class="action">
                                <a data-fancybox data-src="#newregion" href="javascript:;" class="edit"></a>
                                <a data-fancybox data-src="#supprimer" class="delete"></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Diana</td>
                        <td>09-05-2022</td>
                        <td>
                            <div class="action">
                                <a data-fancybox data-src="#newregion" href="javascript:;" class="edit"></a>
                                <a data-fancybox data-src="#supprimer" class="delete"></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Boeny</td>
                        <td>09-05-2022</td>
                        <td>
                            <div class="action">
                                <a data-fancybox data-src="#newregion" href="javascript:;" class="edit"></a>
                                <a data-fancybox data-src="#supprimer" class="delete"></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Analanjorofo</td>
                        <td>09-05-2022</td>
                        <td>
                            <div class="action">
                                <a data-fancybox data-src="#newregion" href="javascript:;" class="edit"></a>
                                <a data-fancybox data-src="#supprimer" class="delete"></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="copyright">© <strong>2023 Annuaire</strong>, tous droits réservés</div>
        </section>
    </main>
    <!-- Modal -->
    <div style="display: none; max-width: 500px;" id="newregion" class="popup-style">
        <div class="sub-title">Ajout nouvelle <strong>région</strong></div>
        <form class="form-wrap" method="post" action="">
            <div class="form-control">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="titre">
            </div>
            <div class="pbtn full"><button type="submit" class="btn red">Ajouter région</button></div>
        </form>
    </div>
    <div id="supprimer" class="pop_suppr" style="display:none; max-width:500px;">
        <div class="innerpad">
            <div class="sub-title">Vouler vraiment supprimer ?</div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis tempora repellat soluta perferendis earum animi porro</p>
        </div>
        <div class="pop_btns">
            <a href="" class="btn-pop confirm">Supprimer</a>
            <span data-fancybox-close class="btn-pop">Annuler</span>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('front/js/slick.min.js') }}"></script>
    <script src="{{ asset('admin/js/customize.js') }}"></script>
    <script src="{{ asset('admin/js/datatable.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable-reponsive.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.Responsive.breakpoints = [
                { name: 'desktop', width: Infinity },
                { name: 'tablet', width: 1024 },
                { name: 'fablet', width: 768 },
                { name: 'phone', width: 480 }
            ];
            $('#table-list').DataTable({
                paging: true,
                "searching": true,
                "info": false,
                "bLengthChange": false,
                "bInfo": false,
                responsive: true,
                "ordering": false,
                "language": {
                    "lengthMenu": "Afficher _MENU_",
                    "zeroRecords": "Rien n'a été trouvé, désolé",
                    "info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
                    "infoEmpty": "Non disponible",
                    "infoFiltered": "(filtré sur _MAX_ enregistrements)",
                    "search": "",
                    "searchPlaceholder": "Recherche",
                    "sPaginationType": "3",
                    "paginate": {
                        "previous": "<",
                        "next": ">"
                    }
                }
            });
            $(".close").click(function () {
                $(this).parent().parent().remove();
            });
        });
    </script>
{% endblock %}
