{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
    <main id="content" class="flex custom-table-mobile">
        <section id="contenu" class="candidat">
            {% include "admin/block/logout.html.twig" %}
            <div class="d-flex sb header">
                <div class="title">Etablissements signaler</div>
            </div>
            <table id="table-list" class="custom-table-ville">
                <thead>
                    <tr>
                        <th></th>
                        <th><span>Nom</span></th>
                        <th><span>Email</span></th>
                        <th><span>Etablissements</span></th>
                        <th><span>Motif</span></th>
                        <th><span>Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for signaler in signalers %}
                        <tr>
                            <td></td>
                            <td>{{ signaler.nom }}</td>
                            <td>{{ signaler.email }}</td>
                            <td>{{ signaler.etablissement }}</td>
                            <td>{{ signaler.motif }}</td>
							<td>
								<div class="action">
									<a href="" class="view"></a>
									<a data-fancybox="" data-src="#popup-delete" class="delete"></a>
								</div>
							</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "admin/block/copyright.html.twig" %}
        </section>
    </main>
	<!-- Modal supprimer -->
	<div id="popup-delete" class="pop_suppr" style="display:none; max-width:500px;">
		<div class="innerpad">
			<p>Êtes vous sûr de vouloir supprimer cette signalement ?</p>
		</div>
		<div class="pop_btns">
			<a href="" class="btn-pop confirm">Supprimer</a>
			<span data-fancybox-close class="btn-pop">Annuler</span>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('front/js/slick.min.js') }}"></script>
    <script src="{{ asset('admin/js/customize.js') }}"></script>
    <script src="{{ asset('admin/js/datatable.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable-reponsive.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.Responsive.breakpoints = [
                { name: 'desktop', width: Infinity },
                { name: 'tablet', width: 1024 },
                { name: 'fablet', width: 768 },
                { name: 'phone', width: 480 }
            ];
            $('#table-list').DataTable({
                paging: true,
				"pageLength": 20,
                "searching": true,
                "info": false,
                "bLengthChange": false,
                "bInfo": false,
                responsive: true,
                "ordering": false,
                "language": {
                    "lengthMenu": "Afficher _MENU_",
                    "zeroRecords": "Rien n'a été trouvé, désolé",
                    "info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
                    "infoEmpty": "Non disponible",
                    "infoFiltered": "(filtré sur _MAX_ enregistrements)",
                    "search": "",
                    "searchPlaceholder": "Recherche",
                    "sPaginationType": "3",
                    "paginate": {
                        "previous": "<",
                        "next": ">"
                    }
                }
            });
        });
    </script>
{% endblock %}
