{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
<main id="content" class="flex">
    <section id="contenu" class="candidat">
        {% include "admin/block/logout.html.twig" %}
        <div class="d-flex sb header">
            <div class="title">Utilisateur</div>
            <a id="btn-newuser" data-fancybox data-src="#newuser" class="btn">Nouveau utilisateur</a>
        </div>

        <table id="table-list" class="custom-table-secteur">
            <thead>
                <tr>
                    <th><span>Email</span></th>
                    <th><span>Rôle</span></th>
                    <th><span>Date d’inscription</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                         <td>{{ user.getDisplayRole() }}</td>
                        <td>{{ user.getCreatedAt()|date("d M.Y") }}</td>
                        <td>
                            <div class="action">
                                <a href="" data-fancybox data-src="#edit-user_{{ user.id }}" class="edit"></a>
                                <a href="" data-fancybox data-src="#supprimer_{{ user.id }}" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "admin/block/copyright.html.twig" %}
    </section>
</main>
<!-- Modal -->
<div id="newuser" style="display:none; max-width: 500px;">
    <div class="title">Ajout nouveau <strong>Utilisateur</strong></div>
    <form id="form-user" action="{{ path("app_admin_user_add") }}" name="{{ form.vars.full_name }}" class="form-wrap" method="post">
        <ul class="form-error"></ul>
        <div class="form-control">
            <label for="email">E-mail</label>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-control">
            <label for="email">Rôle</label>
            {{ form_widget(form.roles) }}
            {{ form_errors(form.roles) }}
        </div>
        <div class="form-control">
            <label for="password">Mot de passe</label>
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
        </div>
         {{ form_widget(form._token) }}
        <div class="pbtn full"><button type="submit" class="btn">Ajouter utilisateur</button></div>
    </form>
</div>
{% for user in users %}
<div id="supprimer_{{ user.id }}" class="pop_suppr" style="display:none; max-width:500px;">
    <div class="innerpad">
        <div class="sub-title">Vouler vraiment supprimer ?</div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis tempora repellat soluta perferendis earum animi porro</p>
    </div>
    <div class="pop_btns">
        <a href="{{ path('app_admin_user_delete',{id:user.id}) }}" class="btn-pop confirm">Supprimer</a>
        <span data-fancybox-close class="btn-pop">Annuler</span>
    </div>
</div>
<!-- Modal -->
<div id="edit-user_{{ user.id }}" style="display:none; max-width: 500px;">
    <div class="title">Modifier <strong>Utilisateur</strong></div>
    <form id="form-user_{{ user.id }}" action="{{ path("app_admin_user_edit", {id:user.id}) }}" class="form-wrap" method="post">
        <ul class="form-error"></ul>
        <div class="form-control">
            <input name="email" type="text" placeholder="" value="{{ user.email }}">
        </div>
        <div class="form-control">
            <label for="role">Rôle</label>
            <select name="role" class="form-control" placeholder="Choisissez un rôle" tabindex="0">
                <option value="ROLE_ADMIN" {% if 'ROLE_ADMIN' == user.getRole() %}selected="selected"{% endif %}>Administrateur</option>
                <option value="ROLE_ETABLISSEMENT" {% if 'ROLE_ETABLISSEMENT' == user.getRole() %}selected="selected"{% endif %}>Etablissement</option>
                <option value="ROLE_VALIDATOR" {% if 'ROLE_VALIDATOR' == user.getRole() %}selected="selected"{% endif %}>Validateur</option>
            </select>
        </div>
        <div class="form-control">
            <label for="password">Mot de passe</label>
            <input name="password" type="password" placeholder="" >
        </div>
        <div class="pbtn full"><button type="submit" class="btn">Modifier utilisateur</button></div>
    </form>
</div>
{% endfor %}
<div style="display:none" id="dialog-message" title="Information">
  <p>
     L'utilisateur a été bien enregistré avec succès
  </p>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable-reponsive.min.js') }}"></script>
    <script src="{{ asset('admin/js/customize.js') }}"></script>
    <script>
        $(document).ready( function () {
   
            $.fn.dataTable.Responsive.breakpoints = [
                { name: 'desktop', width: Infinity },
                { name: 'tablet',  width: 1024 },
                { name: 'fablet',  width: 768 },
                { name: 'phone',   width: 480 }
            ];
            $('#table-list').DataTable({
                paging: true,
				"pageLength": 20,
                "searching": true,
                "info": false,
                "bLengthChange" : false,
                "bInfo":false,
                responsive: true,
                "order": [],
                "language": {
                    "lengthMenu": "Afficher _MENU_",
                    "zeroRecords": "Rien n'a été trouvé, désolé",
                    "info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
                    "infoEmpty": "Non disponible",
                    "infoFiltered": "(filtré sur _MAX_ enregistrements)",
                    "search": "",
                    "searchPlaceholder": "Recherche",
                    "sPaginationType": "3",
                    "paginate": {
                        "previous": "<",
                        "next": ">"
                    }
                },
                "drawCallback": function(settings) {
                    $(".confirm").on('click', function () {
					let url = $(this).data("url");
					window.location = url;
				});
                }
            });

            $(".close").click(function(){
                $(this).parent().parent().remove();
            });

            $("#form-user").submit(function(e){
                e.preventDefault();

                var $form = $(e.currentTarget);
                $.ajax({
                    url: $form.attr('action'),
                    method: 'POST',
                    data: $form.serialize(),
                    success: function(resp){
                        if(resp.code_status == 503){
                            error = resp.msg_error;
                            html = "";
                           for (let i = 0; i < error.length; i++){
                                html += "<li>" + error[i] + "</li>";
                            }
                            $(".form-error").html(html);
                        } else {
                            document.getElementById("form-user").reset();
                            $('.carousel__button').trigger('click');
                            $( "#dialog-message" ).dialog({
                                modal: true,
                                width: 500,
                                close: function(){
                                    window.location = '{{ path("app_admin_user") }}';
                                }
                            });
                        }
                    },
                    error: function(e){
                        console.log(e);
                    }
                });
            })
        });
    </script>
{% endblock %}
