{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main>
	<div class="bgcontainerdefault pageContact">
		<div class="wrapper">
			<form action="" name="{{ form.vars.full_name }}" method="post" class="blocform">
				<h1>Contact</h1>
				<div class="grid-50">
					<div class="formgroup">
						<label for="">Nom</label>
						{{ form_widget(form.nom) }}
						{% if form_errors(form.nom) %}
							<span class="champ-erreur">Ce champ est obligatoire</span>
                        {% endif %}
					</div>
					<div class="formgroup">
						<label for="">Prénom</label>
						{{ form_widget(form.prenom) }}
						{% if form_errors(form.prenom) %}
							<span class="champ-erreur">Ce champ est obligatoire</span>
                        {% endif %}
					</div>
				</div>
				<div class="formgroup">
					<label for="">E-mail</label>
					{{ form_widget(form.email) }}
					{% if form_errors(form.email) %}
						<span class="champ-erreur">Cet e-mail est déjà utilisé</span>
					{% endif %}
				</div>
				<div class="formgroup">
					<label for="">Message</label>
					{{ form_widget(form.message) }}
					{% if form_errors(form.message) %}
						<span class="champ-erreur">Ce champ est obligatoire</span>
					{% endif %}
				</div>
				{{ form_widget(form._token) }}
				<button type="submit" class="btn btn-secondary" ><span>Envoyer</span></button>
			</form>
		</div>
	</div>
</main>

{% endblock %}
