{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
<main>
	<div class="top-page">
		<div class="wrapper">
			<h1>{{ titre }} établissement</h1>
		</div>
	</div>
	<div class="wrapper">
		<div class="grid-custom list-etablissement">
			{% include "front/block/dashboard-nav.html.twig" %}
			<div class="content-bo_user">
				<form id="frm-etablissement" name="{{ form.vars.full_name }}" method="post" enctype="multipart/form-data">
					<div class="categories">
						<div class="card-wrap">
							<label>Catégorie</label>
							{{ form_widget(form.category) }}
						</div>
					</div>
					<input type="file" name="{{ form.avatarFile.vars.full_name }}" id="avatar" class="form-control-file" style="display: none;"/>
					<div class="cat-options">
						<div class="step">
							<div class="bloc_editense form-wrap">
								<div class="card-wrap head">
									<div class="logo-entreprise">
										{% if etablissement is defined and etablissement.avatar is not null %}
											<img src="{{ asset('uploads/etablissements/' ~ etablissement.getAvatar()) }}">
										{% else %}
											<img src="{{ asset('front/images/default-etablissement.svg') }}">
										{% endif %}
										<label for="pdp">
											<span class="replace-img"></span>
										</label>
									</div>
									<div class="form-in-head">
										<div class="sub-title"><span>Coordonnées</span></div>
										<div class="form-wrap">
											{% if form.nom is defined %}
											<div id="wrapper-nom" class="form-control">
												<label>{{ form.nom.vars.label }}</label>
												{{ form_widget(form.nom) }}
												{% if form_errors(form.nom) %}
													<span class="champ-erreur">Ce champ est obligatoire</span>
												{% endif %}
											</div>
											{% else %}
												<div id="wrapper-nom"></div>
											{% endif %}
											{# <div class="form-control">
												<label>Courte description</label>
												{{ form_widget(form.auteur) }}
											</div> #}
										</div>
									</div>
								</div>
								<div class="card-wrap content-ense">
									<div class="half">
										<div class="form-control">
											<label for="">Adresse</label>
											{{ form_widget(form.adresse) }}
											{% if form_errors(form.adresse) %}
												<span class="champ-erreur">Ce champ est obligatoire</span>
											{% endif %}
										</div>
										<div class="form-control">
											<label for="">Ville</label>
											{{ form_widget(form.ville) }}
										</div>
										<div class="form-control">
											<label for="">Code Postal</label>
											{{ form_widget(form.codePostal) }}
										</div>
										{% if form.region is defined %}
											<div id="wrapper-region" class="form-control">
												<label for="">Region</label>
												{{ form_widget(form.region) }}
												{% if form_errors(form.telephone) %}
													<span class="champ-erreur">Ce champ est obligatoire</span>
												{% endif %}
											</div>
										{% else %}
											<div id="wrapper-region"></div>
										{% endif %}
										<div class="form-control">
											<label for="">Téléphone</label>
											{{ form_widget(form.telephone) }}
											{% if form_errors(form.telephone) %}
												<span class="champ-erreur">Ce champ est obligatoire</span>
											{% endif %}
										</div>
										<div class="form-control">
											<label for="">E-mail</label>
											{{ form_widget(form.email) }}
											{% if form_errors(form.email) %}
												<span class="champ-erreur">Ce champ est obligatoire</span>
											{% endif %}
										</div>
										{% if form.siteWeb is defined %}
											<div id="wrapper-web" class="form-control">
												<label for="">Site web</label>
												{{ form_widget(form.siteWeb) }}
											</div>
										{% else %}
											<div id="wrapper-web"></div>
										{% endif %}
									</div>
									{% if form.zoneIntervention is defined %}
										<div id="wrapper-zone" class="form-control">
											<label for="">Zone d'intervention</label>
											{{ form_widget(form.zoneIntervention) }}
										</div>
									{% else %}
										<div id="wrapper-zone"></div>
									{% endif %}
								</div>
							</div>
						</div>
						{% if form.activites is defined or  form.classement is defined %}
							<div id="wrapper-classements-activites" class="bloc_editense form-wrap step">
								{% if form.activites is defined %}
									<div id="wrapper-activites" class="form-control">
										<label>Activités</label>
										<div class="custom_checkbox half">
											{% for child in form.activites|filter(child => not child.rendered) %}
												<label>
													{{ child.vars.label }}
													{{ form_widget(child) }}
													<span class="checkmark"></span>
												</label>
											{% endfor %}
										</div>
									</div>
								{% else %}
									<div id="wrapper-activites"></div>
								{% endif %}

								{% if form.classement is defined %}
									<div id="wrapper-classements" class="form-control">
										<label>Classement</label>
										<div class="custom-radio half">
											{% for child in form.classement|filter(child => not child.rendered) %}
											<label>
												{{ child.vars.label }}
												{{ form_widget(child) }}
												<span class="checkmark"></span>
											</label>
											{% endfor %}
										</div>
									</div>
								{% else %}
									<div id="wrapper-classements"></div>
								{% endif %}
							</div>
						{% else %}
							<div id="wrapper-classements-activites"></div>
						{% endif %}
						
						<div class="step">
							<div class="bloc_editense form-wrap">
								{% if form.proprietaire is defined %}
									<div id="wrapper-proprietaire" class="half">
										<div class="form-control">
											<label>Propriétaire</label>
											{{ form_widget(form.proprietaire) }}
										</div>
										<div class="form-control">
											<label>Gérant</label>
											{{ form_widget(form.gerant) }}
										</div>
									</div>
								{% else %}
									<div id="wrapper-proprietaire"></div>
								{% endif %}
								<div class="form-control inputright">
									<label>Etes-vous membre d'un groupement ?</label>
									<div id="wrapper-member" class="custom-radio">
										{% for child in form.membre|filter(child => not child.rendered) %}
										<label>
											{{ child.vars.label }}
											{{ form_widget(child) }}
											<span class="checkmark"></span>
										</label>
									{% endfor %}
									</div>
								</div>
								{% if form.groupements is defined %}
									<div id="wrapper-groupements" class="custom_checkbox slidergrpm">
										{% for child in form.groupements|filter(child => not child.rendered) %}
											<label>
												{{ child.vars.label }}
												{{ form_widget(child) }}
												<span class="checkmark"></span>
											</label>
										{% endfor %}
									</div>
								{% else %}
									<div id="wrapper-groupements"></div>
								{% endif %}
								{% if form.autreGroupement is defined %}
									<div id="wrapper-autregroupement" class="form-control slidergrpm">
										<label>Groupe</label>
										{{ form_widget(form.autreGroupement) }}
									</div>
								{% else %}
									<div id="wrapper-autregroupement"></div>
								{% endif %}
							</div>
						</div>
						
						{% if form.licenceA is defined %}
							<div id="wrapper-coordonnees" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation d'ouverture</span></div>
									</div>
									<label>Licence</label>
									<div class="custom_checkbox licence">
										<div class="half tri">
											<label>A <span style="color: #a2a2a2">(Agence de voyage)</span>
												{{ form_widget(form.licenceA) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceA) }}
											</div>
											<div class="form-control notselected reference">
												<input type="text" id="" name="" placeholder="Référence" disabled>
											</div>
										</div>
										<div class="half tri">
											<label>B <span style="color: #a2a2a2">(Tour-opérateur)</span>
												{{ form_widget(form.licenceB) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected ">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceB) }}
											</div>
											<div class="form-control notselected reference">
												<input type="text" id="" name="" placeholder="Référence" disabled>
											</div>
										</div>
										<div class="half tri">
											<label>C <span style="color: #a2a2a2">(Prestation touristiques spécialisées)</span>
												{{ form_widget(form.licenceC) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceC) }}
											</div>
											<div class="form-control notselected reference">
												<input type="text" id="" name="" placeholder="Référence" disabled>
											</div>
										</div>
									</div>
									<div class="half">
										{% if form.dateOuverture is defined %}
										<div class="form-control">
											<label for="">Date d’ouverture</label>
											{{ form_widget(form.dateOuverture) }}
										</div>
										{% endif %}
										{% if form.reference is defined %}
										<div class="form-control">
											<label for="">Référence</label>
											{{ form_widget(form.reference) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF</label>
											{{ form_widget(form.nif) }}
											{% if form_errors(form.nif) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
										<div class="form-control">
											<label for="">Stat</label>
											{{ form_widget(form.stat) }}
											{% if form_errors(form.stat) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<div id="wrapper-coordonnees"></div>
						{% endif %}
						

						{% if form.classement is defined %}
							<div id="wrapper-autorisation" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation d'ouverture</span></div>
									</div>
									<div class="half">
										{% if form.dateOuverture is defined %}
										<div class="form-control">
											<label for="">Date d’ouverture</label>
											{{ form_widget(form.dateOuverture) }}
										</div>
										{% endif %}
										{% if form.reference is defined %}
										<div class="form-control">
											<label for="">Référence</label>
											{{ form_widget(form.reference) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF</label>
											{{ form_widget(form.nif) }}
											{% if form_errors(form.nif) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
										<div class="form-control">
											<label for="">Stat</label>
											{{ form_widget(form.stat) }}
											{% if form_errors(form.stat) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							
							<div id="wrapper-infos_supplementaire" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Informations supplémentaires</span></div>
									</div>
									<div class="half">
										{% if form.nombreChambres is defined %}
										<div class="form-control">
											<label for="">Nombre de chambres</label>
											{{ form_widget(form.nombreChambres) }}
										</div>
										<div class="form-control">
											<label for="">Capacité d'accueil</label>
											{{ form_widget(form.capaciteAccueil) }}
										</div>
										{% endif %}
										{% if form.nombreCouverts is defined %}
											<div class="form-control">
												<label for="">Nombre de couverts</label>
												{{ form_widget(form.nombreCouverts) }}
											</div>
										{% endif %}
			
										{% if form.salleConference is defined %}
											<div class="form-control">
												<label for="">Salle de conférence</label>
												{{ form_widget(form.salleConference) }}
											</div>
										{% endif %}
										<div class="form-control">
											<label for="">Nombre de Salariés</label>
											{{ form_widget(form.nombreSalaries) }}
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<div id="wrapper-autorisation"></div>
							<div id="wrapper-infos_supplementaire"></div>
						{% endif %}
						
						{% if form.categorieAutorisation is defined %}
							<div id="wrapper-autorisation2" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation</span></div>
									</div>
									<div class="half">
										<div class="form-control">
											<label for="">Catégorie</label>
											{{ form_widget(form.categorieAutorisation) }}
										</div>
										{% if form.carteProfessionnelle is defined %}
										<div class="form-control">
											<label for="">N° carte et badge professionnel</label>
											{{ form_widget(form.carteProfessionnelle) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF</label>
											{{ form_widget(form.nif) }}
											{% if form_errors(form.nif) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
										<div class="form-control">
											<label for="">Stat</label>
											{{ form_widget(form.stat) }}
											{% if form_errors(form.stat) %}
												<span class="champ-erreur">Valeur est invalide</span>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<div id="wrapper-autorisation2"></div>
						{% endif %}
						
						<div class="t-right">
							{{ form_widget(form._token) }}
							<a class="btn prev">Précédent</a>
							<a class="btn next">Suivant</a>
							<button type="submit" class="btn btnadd">{{ label_btn }}</button> <!-- data-fancybox data-src="#popup-succesadd" -->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

{% endblock %}
{% block javascripts %}
    <script>
		var numberOnly =(e) => {
            var ASCIICode = (e.which) ? e.which : e.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }

		var characterOnly =(e) => {
            var ASCIICode = (e.which) ? e.which : e.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return true;
            return false;
        }

		var keypressNumberOnly =() => {
			$('#etablissement_nif').on('keypress', function(e){
				return numberOnly(e)
			})

			$('#etablissement_stat').on('keypress', function(e){
				return numberOnly(e)
			})

			$('#etablissement_codePostal').on('keypress', function(e){
				return numberOnly(e)
			})

			$('#etablissement_proprietaire').on('keypress', function(e){
				return characterOnly(e)
			})

			$('#etablissement_gerant').on('keypress', function(e){
				return characterOnly(e)
			})
		}

		var changeLicences = () => {
			$('.licence .half').each(function(){
				let $inp = $(this).find("input[type=checkbox]");
				let self = $(this);
				$inp.change(function() {
					if(this.checked) {
						self.find('.obtention').removeClass('notselected'),
						self.find('.reference').removeClass('notselected'),
						self.find('.reference input').prop('disabled', false)
						
					} else {
						self.find('.obtention').addClass('notselected'),
						self.find('.reference').addClass('notselected'),
						self.find('.reference input').prop('disabled', true)
					}
				});
			});
		}

		$(document).ready(function () {
			keypressNumberOnly();
			var currentStep = 1;
			var totalSteps = $('.step').length;

			$('input[type="file"]').on('change', function() {
				var regexAvatar = /(\.jpg|\.jpeg|\.png|\.svg)$/i;
				const file = this.files[0];
			
				if (!regexAvatar.exec(file.name)) {
					$(".logo-entreprise").next().append('<span class="champ-erreur">Veuillez uploader un fichier valide (jpeg, png, svg)</span>');
					return false;
				}
			})

			{% if is_edit == true %}
				$('.step:first').addClass('active');
			{% endif %}
			$('.next').click(function() {
				$('.active .champ-erreur').remove();
				var isrequired = false;
				$('.active input').each(function(e){
					if($(this).is(':required') && $(this).val() == ''){
						$(this).parent().append('<span class="champ-erreur">Ce champ est obligatoire</span>');
						isrequired = true;
					} 
				})

				$('.active select').each(function(e){
					if($(this).is(':required') && $(this).val() == ''){
						$(this).parent().append('<span class="champ-erreur">Ce champ est obligatoire</span>');
						isrequired = true;
					} 
				})
				
				if(isrequired) return false;

				var regexMail = /^\w+([-+.'][^\s]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
				var regexNumberOnly = /\d/;
				var regexPhone = /^\+261\s?\d{2}\s?\d{2}\s?\d{3}\s?\d{2}$/;
				var regexCharaterOnly = /[^\d]/;
				var regexSiteWeb = /^((?:https?:\/\/)?(?:www\.)?[a-zA-Z0-9\-.]+\.[a-zA-Z]{2,}(?:\/[\w\-\.]*)*\/?)$/

				if($(".active #etablissement_telephone").length > 0){
					var emailValid = regexPhone.test($(".active #etablissement_telephone").val());
					if(!emailValid){
						$(".active #etablissement_telephone").parent().append('<span class="champ-erreur">Téléphone invalid (+261XX XX XXX XX)</span>');
						isrequired = true;
					}
				}

				if($(".active #etablissement_siteWeb").length > 0){
					var siteWebValid = regexSiteWeb.test($(".active #etablissement_siteWeb").val());
					if(!siteWebValid){
						$(".active #etablissement_siteWeb").parent().append('<span class="champ-erreur">Site Web invalid</span>');
						isrequired = true;
					}
				}

				if($(".active #etablissement_email").length > 0){
					var emailValid = regexMail.test($(".active #etablissement_email").val());
					if(!emailValid){
						$(".active #etablissement_email").parent().append('<span class="champ-erreur">Adresse email invalid</span>');
						isrequired = true;
					}
				}

				if($(".active #etablissement_codePostal").length > 0){
					var codePostalValid = regexNumberOnly.test($(".active #etablissement_codePostal").val());
					if(!codePostalValid){
						$(".active #etablissement_codePostal").parent().append('<span class="champ-erreur">La valeur est invalide</span>');
						isrequired = true;
					}
				}

				if($(".active #etablissement_nif").length > 0){
					var nifValid = regexNumberOnly.test($(".active #etablissement_nif").val());
					if(!nifValid){
						$(".active #etablissement_nif").parent().append('<span class="champ-erreur">La valeur est invalide</span>');
						isrequired = true;
					}
				}

				if($(".active #etablissement_stat").length > 0){
					var statValid = regexNumberOnly.test($("#etablissement_stat").val());
					if(!nifValid){
						$(".active #etablissement_stat").parent().append('<span class="champ-erreur">La valeur est invalide</span>');
						isrequired = true;
					}
				}
				
				if($(".active #etablissement_proprietaire").length > 0){
					var proprietaireValid = regexCharaterOnly.test($("#etablissement_proprietaire").val());
					if(!proprietaireValid){
						$(".active #etablissement_proprietaire").parent().append('<span class="champ-erreur">La valeur est invalide</span>');
						isrequired = true;
					}
				}

				if($(".active #etablissement_gerant").length > 0){
					var gerantValid = regexCharaterOnly.test($("#etablissement_gerant").val());
					if(!gerantValid){
						$(".active #etablissement_gerant").parent().append('<span class="champ-erreur">La valeur est invalide</span>');
						isrequired = true;
					}
				}

				if(isrequired) return false;

				if (currentStep < totalSteps) {
					$('.step.active').removeClass('active').nextAll('.step').eq(0).addClass('active');
					currentStep++;
					$('.prev').css('display', 'inline-block');
				}
				if (currentStep == totalSteps) {
					$('.next').hide();
					$('.btnadd').css('display', 'inline-block');
				}
			});
			
			$('.prev').click(function() {
				if (currentStep > 1) {
					$('.step.active').removeClass('active').prevAll('.step').eq(0).addClass('active');
					currentStep--;
					$('.next').show();
					$('.btnadd').hide();
				}
				if (currentStep == 1) {
					$('.prev').hide();
				}
			});

			$('.replace-img').click(function(){
				$('#avatar').trigger('click')
			});

			$('#frm-etablissement').on('submit',function(){
				$('.active .champ-erreur').remove();
				var isrequired = false;
				$('.active input').each(function(e){
					if($(this).is(':required') && $(this).val() == ''){
						$(this).parent().append('<span class="champ-erreur">Ce champ est obligatoire</span>');
						isrequired = true;
					} 
				})

				var regexNumberOnly = /\d/;
				if($(".active #etablissement_nif").length > 0){
					var nifValid = regexNumberOnly.test($(".active #etablissement_nif").val());
					if(!nifValid){
						$(".active #etablissement_nif").parent().append('<span class="champ-erreur">La valeur est invalide</span>');
						isrequired = true;
					}
				}

				if($(".active #etablissement_stat").length > 0){
					var statValid = regexNumberOnly.test($("#etablissement_stat").val());
					if(!nifValid){
						$(".active #etablissement_stat").parent().append('<span class="champ-erreur">La valeur est invalide</span>');
						isrequired = true;
					}
				}

				if(isrequired) return false;

				return true;
			})

            $('.categories select').on('change', function() {
				currentStep = 1;
				$('.step').removeClass('active')
				
				if($(this).val() != '')
					$('.step:first').addClass('active');

				$('.prev').hide();
				$('.btnadd').hide();
				$('.next').show();
				data = {};
				data[$(this).attr('name')] = $(this).val();
				$.ajax({
					type: 'POST',
					url: '{{ path('app_front_etablissement_add') }}',
					data: data,
					dataType: 'html',
					success: function (response) {
						totalSteps = $(response).find('.step').length;
						$('#wrapper-activites').replaceWith(
							$(response).find('#wrapper-activites')
						);
						$('#wrapper-classements').replaceWith(
							$(response).find('#wrapper-classements')
						);
						$('#wrapper-coordonnees').replaceWith(
							$(response).find('#wrapper-coordonnees')
						);
						$('#wrapper-autorisation').replaceWith(
							$(response).find('#wrapper-autorisation')
						);
						$('#wrapper-autorisation2').replaceWith(
							$(response).find('#wrapper-autorisation2')
						);
						$('#wrapper-infos_supplementaire').replaceWith(
							$(response).find('#wrapper-infos_supplementaire')
						);
						$('#wrapper-zone').replaceWith(
							$(response).find('#wrapper-zone')
						);
						$('#wrapper-proprietaire').replaceWith(
							$(response).find('#wrapper-proprietaire')
						);
						$('#wrapper-region').replaceWith(
							$(response).find('#wrapper-region')
						);
						$('#wrapper-classements-activites').replaceWith(
							$(response).find('#wrapper-classements-activites')
						);
						$('#wrapper-groupements').replaceWith(
							$(response).find('#wrapper-groupements')
						);
						$('#wrapper-autregroupement').replaceWith(
							$(response).find('#wrapper-autregroupement')
						);
						$('#wrapper-web').replaceWith(
							$(response).find('#wrapper-web')
						);
						$('#wrapper-nom').replaceWith(
							$(response).find('#wrapper-nom')
						);
						changeLicences();
						keypressNumberOnly();
					}
				})
			});
			setTimeout(() => $('#wrapper-member input:checked').trigger('change'), 500);
			$('#wrapper-member input').change(function() {
				if (this.value == 1) {
					$('.slidergrpm').slideDown();
				} else {
					$('.slidergrpm').slideUp();
				}
			});

			changeLicences();
		});
	</script>
{% endblock %}
