{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}
{% block body %}
<main>
	<div class="top-page">
		<div class="wrapper">
			<h1>{{ titre }} établissement</h1>
		</div>
	</div>
	<div class="wrapper">
		<div class="content-bo_user">
			<form id="frm-etablissement" name="{{ form.vars.full_name }}" method="post" enctype="multipart/form-data">
				<div class="categories">
					<div class="card-wrap">
						<label>Veuillez choisir une catégorie</label>
						{{ form_widget(form.category) }}
					</div>
				</div>
				
				<div class="cat-options">
					<div id="wrapper-field">
						<div class="step">
							<div class="bloc_editense form-wrap">
								<div class="card-wrap form-in-head">
									<div class="sub-title"><span>Coordonnées</span></div>
									<div class="head">
										{% if form.avatarFile is defined %}
										<div class="wprappAvatar">
											<div id="wrapper-avatar" class="logo-entreprise">
												<input type="file" name="{{ form.avatarFile.vars.full_name }}" id="avatar" class="form-control-file" style="display: none;"/>
												{% if etablissement is defined and etablissement.avatar is not null %}
													<img id="avatar-img" src="{{ asset('uploads/etablissements/' ~ etablissement.getAvatar()) }}">
												{% else %}
													<img id="avatar-img" src="{{ asset('front/images/default-etablissement.svg') }}">
												{% endif %}
												<label for="pdp">
													<span class="replace-img"></span>
												</label>
											</div>
											<span class="facultatif">Insérer votre logo (facultatif)</span>
											</div>
										{% else %}
											<div id="wrapper-avatar" class="logo-entreprise">
												<img src="{{ asset('front/images/profil-guide.svg') }}">
											</div>
										{% endif %}
										<div>
											<div class="form-wrap">
												{% if form.nom is defined %}
													<div id="wrapper-nom" class="form-control">
														<label>{{ form.nom.vars.label }}</label>
														{{ form_widget(form.nom) }}
													</div>
												{% endif %}
												<div class="form-control">
													<label for="">Adresse</label>
													{{ form_widget(form.adresse) }}
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card-wrap content-ense">
									<div id="wrapper-not-guide" class="half">
										{% if form.region is defined and form.categorieGuide is not defined %}
											<div id="wrapper-region" class="form-control">
												<label for="">Region</label>
												{{ form_widget(form.region) }}
											</div>
										{% endif %}
										{% if form.district is defined %}
											<div id="wrapper-district" class="form-control">
												<label for="">District</label>
												{{ form_widget(form.district) }}
											</div>
										{% endif %}
										<div class="form-control">
											<label for="">Ville</label>
											{{ form_widget(form.ville) }}
										</div>
										<div class="form-control">
											<label for="">Code Postal</label>
											{{ form_widget(form.codePostal) }}
										</div>
										<div class="form-control">
											<label for="">Téléphone<span class="facultatif"> (XX XX XXX XX)</span></label>
											<div class="input-box">
												<span class="prefix">+261</span>
												{{ form_widget(form.telephone) }}
											</div>
										</div>
										<div class="form-control">
											<label for="">E-mail</label>
											{{ form_widget(form.email) }}
										</div>
										{% if form.siteWeb is defined %}
											<div id="wrapper-web" class="form-control">
												<label for="">Site web <span class="facultatif">(facultatif)</span></label>
												{{ form_widget(form.siteWeb) }}
											</div>
										{% endif %}
										{% if form.facebook is defined %}
											<div class="form-control">
												<label for="">Facebook <span class="facultatif">(facultatif)</span></label>
												{{ form_widget(form.facebook) }}
											</div>
										{% endif %}
										{% if form.linkedin is defined %}
											<div class="form-control">
												<label for="">Linkedin <span class="facultatif">(facultatif)</span></label>
												{{ form_widget(form.linkedin) }}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>

						{% if form.licenceA is defined %}
							<div id="wrapper-coordonnees" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation d'ouverture</span></div>
									</div>
									<label>Licence</label>
									<div class="custom_checkbox licence">
										<div class="half tri">
											<label>A <span style="color: #a2a2a2">(Agence de voyage)</span>
												{{ form_widget(form.licenceA) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceA) }}
											</div>
											<div class="form-control notselected reference">
												{{ form_widget(form.referenceA) }}
											</div>
										</div>
										<div class="half tri">
											<label>B <span style="color: #a2a2a2">(Tour-opérateur)</span>
												{{ form_widget(form.licenceB) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected ">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceB) }}
											</div>
											<div class="form-control notselected reference">
												{{ form_widget(form.referenceB) }}
											</div>
										</div>
										<div class="half tri">
											<label>C <span style="color: #a2a2a2">(Prestations touristiques spécialisées)</span>
												{{ form_widget(form.licenceC) }}
												<div class="checkmark"></div>
											</label>
											<div class="obtention notselected">
												<label>Obtention</label>
												{{ form_widget(form.dateLicenceC) }}
											</div>
											<div class="form-control notselected reference">
												{{ form_widget(form.referenceC) }}
											</div>
										</div>
									</div>
									<div class="half">
										{% if form.dateOuverture is defined %}
										<div class="form-control">
											<label for="">Date d’ouverture </label>
											{{ form_widget(form.dateOuverture) }}
										</div>
										{% endif %}
										{% if form.reference is defined %}
										<div class="form-control">
											<label for="">Référence</label>
											{{ form_widget(form.reference) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF <span class="facultatif">(10 Chiffres)</span></label>
											{{ form_widget(form.nif) }}
										</div>
										<div class="form-control">
											<label for="">Stat <span class="facultatif">(17 Chiffres)</span></label>
											{{ form_widget(form.stat) }}
										</div>
										{% if form.pieceJustificationFile is defined %}
											<div class="form-control">
												<label for="">Pièce justificative <span class="facultatif">(facultatif)</span></label>
												{{ form_widget(form.pieceJustificationFile) }}
												<a href="{{ asset('uploads/etablissements/' ~ etablissement.pieceJustification()) }}">
													{{ etablissement.pieceJustification() }}
												</a>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}

						{% if form.activites is defined or form.classement is defined %}
							<div id="wrapper-classements-activites" class="bloc_editense form-wrap step">
								{% if form.activites is defined %}
									<div id="wrapper-activites" class="card-wrap form-control">
										
										{% if form.licenceA is defined %}
										    <div class="stitre">Activités</div>
											<div id="item-activitesB" class="custom_checkbox half"></div>
											<div id="item-activitesC" class="custom_checkbox half"></div>
										{% elseif  hebergement_activite(form.activites) and restaurant_activite(form.activites) %}
										    <div class="stitre">Type</div>
										    <div class="half av_margbot">
				                                <div class="custom_checkbox">
													{% if hebergement_activite(form.activites) %}
														<div class="ssTitre">Type d'hébergement</div>
														{% for child in form.activites|filter(child => not child.rendered) %}
															{% if type_activite(child.vars.value) == 'TYPE_HEBERGEMENT' %}
																<label>
																	{{ child.vars.label }}
																	{% if classement_activite(child.vars.value) %}
																		{{ form_widget(child, {'attr': {'class': 'cb-activite required-activites has-classement'}}) }}
																	{% else %}
																		{{ form_widget(child) }}
																	{% endif %}
																	<span class="checkmark"></span>
																</label>
															{% endif %}
														{% endfor %}
													{% endif %}
    											</div>
    											<div class="custom_checkbox">
													{% if restaurant_activite(form.activites) %}
														<div class="ssTitre">Type de restauration</div>
														{% for child in form.activites|filter(child => not child.rendered) %}
															{% if type_activite(child.vars.value) == 'TYPE_RESTAURATION' %}
																<label>
																	{{ child.vars.label }}
																	{% if classement_activite(child.vars.value) %}
																		{{ form_widget(child, {'attr': {'class': 'cb-activite required-activites has-classement'}}) }}
																	{% else %}
																		{{ form_widget(child) }}
																	{% endif %}
																	<span class="checkmark"></span>
																</label>
															{% endif %}
														{% endfor %}
													{% endif %}
    											</div>
										    </div>
										{% else %}
										    <div class="stitre">Activités</div>
											<div class="custom_checkbox">
												{% for child in form.activites|filter(child => not child.rendered) %}
													<label>
														{{ child.vars.label }}
														{% if classement_activite(child.vars.value) %}
															{{ form_widget(child, {'attr': {'class': 'cb-activite required-activites has-classement'}}) }}
														{% else %}
															{{ form_widget(child) }}
														{% endif %}
														<span class="checkmark"></span>
													</label>
												{% endfor %}
											</div>
										{% endif %}
										{% if form.activiteAutre is defined %}
											<div class="custom_checkbox half">
												<label>
													Autre
													{{ form_widget(form.activiteAutre) }}
													<span class="checkmark"></span>
												</label>
											</div>
										{% endif %}
										{% if form.autreActivite is defined %}
											<div id="wrapper-autreActivite" class="form-control">
												<label>Préciser</label>
												{{ form_widget(form.autreActivite) }}
											</div>
										{% endif %}
									</div>
								{% endif %}
								
								{% if form.classement is defined %}
									<div id="wrapper-classements" class="form-control card-wrap" style="display:none">
										<label>Classement</label>
										<div class="custom-radio half">
											{% for child in form.classement|filter(child => not child.rendered) %}
											<label>
												{{ child.vars.label }}
												{{ form_widget(child) }}
												<span class="checkmark"></span>
											</label>
											{% endfor %}
										</div>
									</div>
								{% endif %}
							</div>
						{% endif %}
						
						{% if form.dateOuverture is defined %}
							<div id="wrapper-autorisation" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation d'ouverture</span></div>
									</div>
									<div class="half">
										{% if form.dateOuverture is defined %}
										<div class="form-control">
											<label for="">Date d’ouverture</label>
											{{ form_widget(form.dateOuverture) }}
										</div>
										{% endif %}
										{% if form.reference is defined %}
										<div class="form-control">
											<label for="">Référence</label>
											{{ form_widget(form.reference) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">NIF <span class="facultatif">(10 Chiffres)</span></label>
											{{ form_widget(form.nif) }}
											{% if form_errors(form.nif) %}
												<span class="champ-erreur">La valeur est invalide</span>
											{% endif %}
										</div>
										<div class="form-control">
											<label for="">Stat <span class="facultatif">(17 Chiffres)</span></label>
											{{ form_widget(form.stat) }}
											{% if form_errors(form.stat) %}
												<span class="champ-erreur">La valeur est invalide</span>
											{% endif %}
										</div>
										{% if form.pieceJustificationFile is defined %}
											<div class="form-control">
												<label for="">Pièce Justificative <span class="facultatif">(facultatif)</span></label>
												{{ form_widget(form.pieceJustificationFile) }}
												<a href="{{ asset('uploads/etablissements/' ~ etablissement.pieceJustification()) }}">
													{{ etablissement.pieceJustification() }}
												</a>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}

						{% 
							if form.nombreChambres is defined or 
								form.nombreCouverts is defined or 
								form.salleConference is defined or 
								form.nombreSalaries is defined or 
								form.nombreSalaireFemme is defined or
								form.superficieSalle is defined 
						%}
							<div id="wrapper-infos_supplementaire" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Informations supplémentaires</span></div>
									</div>
									<div class="half">
										<div class="form-control">
											<label for="">Nombre de Salariés Homme</label>
											{{ form_widget(form.nombreSalaries) }}
										</div>
										<div class="form-control">
											<label for="">Nombre de Salariés Femme</label>
											{{ form_widget(form.nombreSalaireFemme) }}
										</div>
										{% if form.nombreChambres is defined %}
										<div class="form-control">
											<label for="">Nombre de chambres</label>
											{{ form_widget(form.nombreChambres) }}
										</div>
										<div class="form-control">
											<label for="">Capacité d'accueil</label>
											{{ form_widget(form.capaciteAccueil) }}
										</div>
										{% endif %}
										{% if form.nombreCouverts is defined %}
											<div class="form-control">
												<label for="">Nombre de couverts</label>
												{{ form_widget(form.nombreCouverts) }}
											</div>
										{% endif %}
										{% if form.salleConference is defined %}
											<div class="form-control">
												<label for="">Nombre de salle de conférence <span class="facultatif">(facultatif)</span></label>
												{{ form_widget(form.salleConference) }}
											</div>
										{% endif %}
										{% if form.superficieSalle is defined %}
											<div class="form-control">
												<label for="">Surface salle de conférence <span class="facultatif">(en m2 - facultatif)</span></label>
												{{ form_widget(form.superficieSalle) }}
											</div>
										{% endif %}
										{% if form.nombreVoiture is defined %}
											<div class="form-control">
												<label for="">Nombre de transports motorisés <span class="facultatif">(facultatif)</span></label>
												{{ form_widget(form.nombreVoiture) }}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
						
						{% if form.categorieGuide is defined %}
							<div id="wrapper-autorisation2" class="bloc_editense form-wrap step">
								<div class="card-wrap">
									<div class="form-in-head">
										<div class="sub-title"><span>Autorisation</span></div>
									</div>
									<label class="sub-stitle">Catégorie</label>
									<div class="cat-check custom_checkbox">
										{% for child in form.categorieGuide|filter(child => not child.rendered) %}
											<div class="item">
												<label>
													{{ child.vars.label }}
													{{ form_widget(child) }}
													<span class="checkmark"></span>
												</label>
												{% if child.vars.value == 'GUIDE_REGIONAL' %}
													{% if form.region is defined %}
														<div id="wrapper-region"  class="sub-check" id="wrapper-preciser" style="display:none">
															<div class="form-control">
																{{ form_widget(form.region) }}
																{% if form_errors(form.region) %}
																	<span class="champ-erreur">Ce champ est obligatoire</span>
																{% endif %}
															</div>
														</div>
													{% endif %}
												{% endif %}
												{% if child.vars.value == 'GUIDE_LOCAL' %}
													{% if form.zoneIntervention is defined %}
														<div class="sub-check" id="wrapper-zone" class="form-control" style="display: none;">
															{{ form_widget(form.zoneIntervention) }}
														</div>
													{% endif %}
												{% endif %}
												{% if child.vars.value == 'GUIDE_SPECIALISE' %}
													<div class="sub-check" id="wrapper-preciser" style="display:none">
														<div class="form-control">
															{{ form_widget(form.categorieAutorisation) }}
															{% if form_errors(form.categorieAutorisation) %}
																<span class="champ-erreur">La valeur est invalide</span>
															{% endif %}
														</div>
													</div>
												{% endif %}
											</div>
										{% endfor %}
									</div>

									<div class="half">
										{% if form.carteProfessionnelle is defined %}
										<div class="form-control">
											<label for="">N° carte et badge professionnel <span class="facultatif">(facultatif)</span></label>
											{{ form_widget(form.carteProfessionnelle) }}
										</div>
										{% endif %}
										<div class="form-control">
											<label for="">Agrément <span class="facultatif">(facultatif)</span></label>
											{{ form_widget(form.agrement) }}
										</div>
										<div class="form-control">
											<label for="">NIF <span class="facultatif">(10 Chiffres - facultatif)</span></label>
											{{ form_widget(form.nif) }}
										</div>
										<div class="form-control">
											<label for="">Stat <span class="facultatif">(17 Chiffres - facultatif)</span></label>
											{{ form_widget(form.stat) }}
										</div>

									</div>
								</div>
							</div>
						{% endif %}

						{% if form.membre is defined or form.groupements is defined or form.autreGroupement is defined %}
							<div class="step">
								<div class="bloc_editense form-wrap">
									<div class="card-wrap">
										<div class="form-control inputright">
											<label>Etes-vous membre d'un groupement ?</label>
											<div id="wrapper-member" class="custom-radio">
												{% for child in form.membre|filter(child => not child.rendered) %}
													<label>
														{{ child.vars.label }}
														{{ form_widget(child) }}
														<span class="checkmark"></span>
													</label>
												{% endfor %}
												
											</div>
										</div>
										{% if form.groupements is defined %}
											<div id="wrapper-groupements" class="custom_checkbox slidergrpm">
												{% for child in form.groupements|filter(child => not child.rendered) %}
													<label>
														{{ child.vars.label }}
														{{ form_widget(child) }}
														<span class="checkmark"></span>
													</label>
												{% endfor %}
												{% if form.groupementAutre is defined %}
													<label>
														Autre
														{{ form_widget(form.groupementAutre) }}
														<span class="checkmark"></span>
													</label>
												{% endif %}
											</div>
										{% endif %}
										{% if form.autreGroupement is defined %}
											<div id="wrapper-autregroupement" class="form-control{% if form.groupements is not defined %} slidergrpm{% endif %}" {% if form.groupements is defined %}style="display:none"{% endif %}>
												{{ form_widget(form.autreGroupement) }}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					</div>
					<div class="t-right">
						<input type="hidden" id="etablissement-id" value="{{ etablissement.id }}">
						{{ form_widget(form._token) }}
						<a class="btn prev">Précédent</a>
						<a class="btn next">Suivant</a>
						<button type="submit" class="btn btnadd">{{ label_btn }}</button> 
					</div>
				</div>
			</form>
		</div>
	</div>
</main>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('front/js/jquery-ui.js') }}"></script>
    <script>
		{% if is_edit == true %}
			const is_edit = true;
		{% else %}
			const is_edit = false;
		{% endif %}
		const app_front_etablissement_add = "{{ path('app_front_etablissement_add')|escape('js') }}";
		const app_region_district = "{{ path('app_region_district')|escape('js') }}";
		const app_category_licence_b = "{{ path('app_category_licence_b')|escape('js') }}";
		const app_category_licence_c = "{{ path('app_category_licence_c')|escape('js') }}";
		const app_sous_activites = "{{ path('app_sous_activites')|escape('js') }}";
		const app_etablissement_exist = "{{ path('app_etablissement_exist')|escape('js') }}";
	</script>
	<script src="{{ asset('front/js/etablissement.js') }}"></script>
{% endblock %}
