{% extends 'base.html.twig' %}

{% block title %}Dashoard{% endblock %}

{% block body %}
<main>
    <div class="top-page">
        <div class="wrapper">
            <h1>Tous les établissement formels d’hébergement 
                à Madagascar</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="grid-custom list-etablissement">
            {% include "front/block/dashboard-nav.html.twig" %}
            <div class="content-bo_user">
                <div class="headtitle">
                    <div class="title">Mes établissements</div>
                    <a href="{{ path('app_front_etablissement_add') }}" class="btn btn-primary"><span>Ajouter un établissement</span></a>
                </div>
                <table id="table-list" class="custom-table-secteur">
                    <thead>
                        <tr>
                            <th><span>Nom</span></th>
                            <th><span>Catégorie</span></th>
                            <th><span>Region</span></th>
                            <th><span>Date</span></th>
                            <th><span>Etat</span></th>
                            <th><span></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for etablissement in etablissements %}
                            {% if etablissement.statut != 'delete' %}
                                <tr>
                                    <td>{{ etablissement.nom }}</td>
                                    <td>{{ etablissement.getCategory() }}</td>
                                    <td>{{ etablissement.getRegion() }}</td>
                                    <td>{{ etablissement.getCreatedAt()|date('d/m/y') }}</td>
                                    {% if etablissement.statut == 'valide' %}
                                        <td><div class="valide">Validé</div></td>
                                        <td>
                                            <div class="action">
                                                <a href="{{ path('app_front_etablissement_edit', {slug:etablissement.slug}) }}" class="edit"></a>
                                                <a href="{{ path('app_etablissement', {category_slug:etablissement.category.slug, etablissement_slug:etablissement.slug}) }}" class="view"></a>
                                                <a data-fancybox="" data-src="#popup-delete_{{etablissement.id}}" class="delete"></a>
                                            </div>
                                        </td>
                                    {% elseif etablissement.statut == 'refuse' %}
                                        <td><div class="refuse">Refusé</div></td>
                                        <td>
                                            <div class="action">
                                                <div class="infobull"><div class="content"><span>{{ etablissement.refused.raison }}</span></div></div>
                                                <a href="{{ path('app_front_etablissement_edit', {slug:etablissement.slug}) }}" class="edit"></a>
                                                <a data-fancybox="" data-src="#popup-delete_{{etablissement.id}}" class="delete"></a>
                                            </div>
                                        </td>
                                    {% else %}
                                        <td><div class="en-attente">En attente</div></td>
                                        <td>
                                            <div class="action">
                                                <a href="{{ path('app_front_etablissement_edit', {slug:etablissement.slug}) }}" class="edit"></a>
                                                <a data-fancybox="" data-src="#popup-delete_{{etablissement.id}}" class="delete"></a>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% for etablissement in etablissements %}
<div id="popup-delete_{{etablissement.id}}" class="pop_suppr" style="display:none; max-width:500px;">
    <div class="innerpad">
        <p>Êtes vous sûr de vouloir supprimer cette etablissement ?</p>
    </div>
    <form class="form-wrap" method="post" action="{{ path('app_front_etablissement_delete', {slug:etablissement.slug}) }}">
            <ul class="form-error"></ul>
        <div class="form-control">
            <label for="nom">Nom</label>
            <input type="text" value="{{ etablissement.nom}}" disabled="disabled">
        </div>
        <div class="form-control">
            <label for="nom">Raison</label>
            <textarea name="raison" id=""></textarea>
        </div>
        <div class="pop_btns">
            <button type="submit" class="btn">Supprimer</button>
            <span data-fancybox-close class="btn-pop">Annuler</span>
        </div>
    </form>
</div>
{% endfor %}
{% endblock %}
{% block javascripts %}
   <script>
		$(document).ready(function () {
			$.fn.dataTable.Responsive.breakpoints = [{
				name: 'desktop',
				width: Infinity
			}, {
				name: 'tablet',
				width: 1024
			}, {
				name: 'fablet',
				width: 768
			}, {
				name: 'phone',
				width: 480
			}];
			$('#table-list').DataTable({
				paging: false,
				"searching": false,
				"info": false,
				"bLengthChange": false,
				"bInfo": false,
				"order": [],
				columnDefs: [{
					targets: [5],
					orderable: false
				}],
				responsive: true,
				"language": {
					"lengthMenu": "Afficher _MENU_",
					"zeroRecords": "Rien n'a été trouvé, désolé",
					"info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
					"infoEmpty": "Non disponible",
					"infoFiltered": "(filtré sur _MAX_ enregistrements)",
					"search": "",
					"searchPlaceholder": "Recherche",
					"sPaginationType": "3",
					"paginate": {
						"previous": "<",
						"next": ">"
					}
				}
			});
			$(".close").click(function () {
				$.fancybox.close();
			});
		});
	</script>
{% endblock %}
