{% extends 'base.html.twig' %}

{% block title %}Dashoard{% endblock %}

{% block body %}
<main>
    <div class="top-page">
        <div class="wrapper">
            <h1>Tous les établissement formels d’hébergement 
                à Madagascar</h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="grid-custom list-etablissement">
            {% include "front/block/dashboard-nav.html.twig" %}
            <div class="content-etablissement">
                <div class="headtitle">
                    <div class="title">Mes établissements</div>
                    <a href="{{ path('app_front_etablissement_add') }}" class="btn btn-primary"><span>Ajouter un établissement</span></a>
                </div>
                <table id="table-list" class="custom-table-secteur">
                    <thead>
                        <tr>
                            <th><span>Nom</span></th>
                            <th><span>Catégorie</span></th>
                            <th><span>Licence</span></th>
                            <th><span>Region</span></th>
                            <th><span>Date</span></th>
                            <th><span>Etat</span></th>
                            <th><span></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for etablissement in etablissements %}
                            <tr>
                                <td>{{ etablissement.nom }}</td>
                                <td>{{ etablissement.getCategory() }}</td>
                                <td>{{ etablissement.getLicences() }}</td>
                                <td>{{ etablissement.getRegion() }}</td>
                                <td>{{ etablissement.getCreatedAt()|date('d/m/y') }}</td>
                                {% if etablissement.isValide() %}
                                    <td><div class="valide">Validé</div></td>
                                {% else %}
                                    <td><div class="en-attente">En attente</div></td>
                                {% endif %}
                                <td>
                                    <div class="action">
                                        <a href="{{ path('app_front_etablissement_edit', {slug:etablissement.slug}) }}" class="edit"></a>
                                        <a href="" class="view"></a>
                                        <a data-fancybox="" data-src="#popup-delete" class="delete"></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div id="popup-delete" class="pop_suppr" style="display:none; max-width:500px;">
    <div class="innerpad">
        <p>Êtes vous sûr de vouloir supprimer cette etablissement ?</p>
    </div>
    <div class="pop_btns">
        <a href="" class="btn-pop confirm">Supprimer</a>
        <span data-fancybox-close class="btn-pop">Annuler</span>
    </div>
</div>
{% endblock %}
{% block javascripts %}
   <script>
		$(document).ready(function () {
			$.fn.dataTable.Responsive.breakpoints = [{
				name: 'desktop',
				width: Infinity
			}, {
				name: 'tablet',
				width: 1024
			}, {
				name: 'fablet',
				width: 768
			}, {
				name: 'phone',
				width: 480
			}];
			$('#table-list').DataTable({
				paging: false,
				"searching": false,
				"info": false,
				"bLengthChange": false,
				"bInfo": false,
				"order": [],
				columnDefs: [{
					targets: [6],
					orderable: false
				}],
				responsive: true,
				"language": {
					"lengthMenu": "Afficher _MENU_",
					"zeroRecords": "Rien n'a été trouvé, désolé",
					"info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
					"infoEmpty": "Non disponible",
					"infoFiltered": "(filtré sur _MAX_ enregistrements)",
					"search": "",
					"searchPlaceholder": "Recherche",
					"sPaginationType": "3",
					"paginate": {
						"previous": "<",
						"next": ">"
					}
				}
			});
			$(".close").click(function () {
				$.fancybox.close();
			});
		});
	</script>
{% endblock %}
