{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
 <main>
            
    <div class="banner">
        <div class="banner__content">
            <!-- <span class="bgtext">annuaire</span> -->
            <div class="wrapper">
                <h1>Les établissements touristiques formels à Madagascar </h1>
                <form action="" class="recherche">
                    <div class="formgroup">
                        <input type="text" placeholder="Faire votre recherche" >
                        <button type="submit"class="send" ></button>
                    </div>
                </form>

                <!-- <div class="filtre">
                    <div class="soustitre">
                        Les recherches populaires :
                    </div>
                    <ul>
                        <li>Restaurant</li>
                        <li>hambre d’hôtes</li>
                        <li>Guide</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>

    <!-- <div class="intro">
        <div class="wrapper">
            <div class="intro__content">
                <h2>Trouvez ce que vous cherchez 
                    grâce à annuaire.mg</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua. Quis ipsum 
                    suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
        </div>
    </div> -->

    <div class="wrapper">
        <div class="atouts">
            {% for category in categories %}
                <a href="{{ path('app_category', {slug:category.slug}) }}" class="atouts__item">
                    <div class="icone">
                        <img src="{{ asset('uploads/categories/' ~ category.icon) }}" alt="">
                    </div>
                    <div class="texte">
						<span>{{ category.nom }}</span>
						<span><strong class="nbre">(1000)</strong></span>
					</div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="bandeau">
        <div class="wrapper">
            <div class="bandeau__content">
                <div class="bandeau__content--item">
                    <div>
                        <h2>Professionnels? inscrivez-vous 
                            pour plus d’avantage</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
                        <a href="{{ path('app_register') }}" class="btn linkplus"><span>S’inscrire</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="membre">
        <div class="wrapper">
            <h2>Les dernières membres inscrites.</h2>
            <div class="membre__content">
                {% for etablissement in etablissements %}
                    {% include "front/block/etablissement.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="regions">
        <div class="wrapper">
            <h2>Trouver les établissements 
                de toute la région</h2>
            <div class="regions__content">
                {% for region in regions %}
                    <a href="{{ path('app_region', {slug:region.slug}) }}" class="regions__content--item">
                        {{ region.nom }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="bgdefault">
        <div class="wrapper">
            <div class="phototexte reverse">
                <div class="phototexte__photo">
                    <img src="{{ asset('front/images/desktop-mobile.png') }}" alt="">
                </div>
                <div class="phototexte__texte">
                    <h2><em>Notre mission :</em> vous aider à 
                        innover dans le domaine 
                        du tourisme.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus arcu ipsum, feugiat cursus nisl facilisis vel. Nulla dolor mauris, condimentum eu pretium a, faucibus sit amet sem. Fusce sapien arcu, congue non porta viverra, imperdiet a mauris. Nam tincidunt lectus sed nulla consectetur, non luctus dui tempus. Integer auctor ex a purus blandit.</p>
                </div>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}
