<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('front/images/favicon.png') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/datatable.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/fancybox.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/tableau.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body {% if class is defined %}class="{{ class }}"{% endif %}> <!-- class="bg__purplelight" -->
        <div id="wrapper" {% if class is defined %}class="{{ class_wrapper }}"{% endif %}>
            <header class="header">
                <div class="wrapper">
                    <div class="header__inner">
                        <a href="{{ path('app_home') }}" class="custom-logo-link" title="">
                            <img src="{{ asset('front/images/logo.svg') }}" alt="">
                        </a>
                        <nav class="header_nav">
                            <ul class="header_nav-menu" id="headermenu">
                                <li {% if active == 'home' %}class="current-menu-item"{% endif %}><a href="{{ path('app_home') }}" title="Accueil">Accueil</a></li>
                                <li {% if active == 'category' %}class="current-menu-item"{% endif %}>
                                    <a href="#" title="Categories">Categories</a>
                                    <i></i>
                                    <ul class="submenu">
                                        {% for category in categories %}
                                            <li><a href="{{ path('app_category', {slug:category.slug}) }}" title="Hébergement">{{ category.nom }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li {% if active == 'contact' %}class="current-menu-item"{% endif %}><a href="{{ path('app_contact') }}" title="Contact">Contact</a></li>
                            </ul>
                            <div class="header_right">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VALIDATOR')  %}
                                    <a href="{{ path('app_admin')}}" class="btn btn-primary membrebtn">
                                        <span>Mon compte</span>
                                    </a>
                                {% elseif is_granted('ROLE_ETABLISSEMENT') %}
								<div class="has-sub">
                                    <a href="{{ path('app_dashboard')}}" class="btn btn-primary membrebtn">
                                        <span>Mon compte</span>
                                    </a>
									<div class="sub-compte">
										<div class="activeitem"><a href="{{ path('app_dashboard') }}"><img src="{{ asset('front/images/etablissement.svg') }}" alt=""> Mes etablissements</a></div>
										<div><a href="{{ path('app_profil') }}"><img src="{{ asset('front/images/profil.svg') }}" alt="">Profil</a></div>
										<a class="deconnexion" href="{{ path('app_logout') }}"><img src="{{ asset('front/images/deconnecte.svg') }}" alt="">Se déconnecter</a>
									</div>
								</div>
                                {% else %}
                                    <a href="{{ path('app_dashboard')}}" class="btn btn-primary membrebtn">
                                        <span>Espace membre</span>
                                    </a>
                                {% endif %}
                                <div class="hamburger">
                                    <div class="hamburger-box"></div>
                                </div>
                            </div>
                            <span class="close-mobile-menu"></span>
                        </nav>
                    </div>
                </div>
            </header>
            {% block body %}{% endblock %}
            <footer>
                <div class="wrapper">
                    <div class="footer">
                        <ul class="mentions">
                            <li>© {{ "now"|date("Y") }} Annuaire.mg , Tous droits réservés</li>
                            <li><a href="#" title="Mentions légales">Mentions légales</a></li>
                            <li><a href="{{ path('app_contact') }}" title="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="{{ asset('front/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/magicline.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/fancybox.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/numscroller.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ asset('front/js/datatable.min.js') }}"></script>
	    <script src="{{ asset('front/js/datatable-reponsive.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/custom.js') }}"></script>
        <script>
            jQuery(document).ready(function ($) {
                $('.temoignages__slick').slick({
                    infinite: true,
                    dots: true,
                    pauseOnHover: true,
                    slidesToShow: 1,
                    arrows: false,
                    slidesToScroll:1,
                    fade: false,
                    responsive: [
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 1,
                                dots: true,
                                slidesToScroll:1,
                            }
                        }
                    ]
                });
            });
        </script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
