<div class="membre__content--item">
    <div class="logoitem">
		{% if etablissement.avatar is not null %}
			<img src="{{ asset('uploads/etablissements/' ~ etablissement.getAvatar()) }}">
		{% else %}
			<img src="{{ asset('front/images/default-etablissement.svg') }}">
		{% endif %}
    </div>
    <div class="texteitem">
        <div class="titreitem">{{ etablissement.nom }}</div>
        <ul>
            {% if etablissement.category.viewType != 'TYPE_5'%}
                {% if etablissement.category is not null %}
                    <li><span class="domaine"> {{ etablissement.category }}</span></li>
                {% endif %}
                {% if etablissement.region is not null %}
                    <li> <span  class="localisation">{{ etablissement.region }}</span></li>
                {% endif %}
            {% else %}
                <img src="{{ asset('front/images/profil-guide.svg') }}">
            {% endif %}
        </ul>
    </div>
    <a href="{{ path('app_etablissement', {category_slug:etablissement.category.slug, etablissement_slug:etablissement.slug}) }}" class="voir">Voir plus</a>
</div>
